{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div class="site-head-content inner">
            <h1 class="blog-title">
                {{@blog.title}}
                <a href="#" class="blog-title-pronouciation icon-read" onclick="document.getElementById('pronouciation').play()">[zing3]</a>
                <audio id="pronouciation" preload="auto">
                    <source src="/shared/audio/prounciation.ogg" type="audio/ogg">
                    <source src="/shared/audio/prounciation.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </h1>
            <h2 class="blog-description">{{@blog.description}}</h2>
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="on "}}</span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>

        <footer class="post-comment">
            <a class="icon-comment" href="{{url}}#disqus_thread">Comments</a>
        </footer>

    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

    <div id="disqus_thread"></div>

</main>